.cs-container {
  font-family: "Menlo", monospace;
  background-color: #1e1e1e;
  color: white;
}

.skills {
  text-align: left;
}

.skills li,
.skills a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(155, 161, 166);
  text-decoration: none;
  transition: 0.3s ease;
}

.skills li:hover,
.skills a:hover {
  color: white;
  transition: 0.3s ease;
}

.skills img {
  height: 1rem;
}

.skills p,
.skills a {
  font-size: 1rem;
}
