.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
  transition: 0.3s ease-in-out;
}

.header-container.scrolling {
  transition: 0.3 ease-in-out;
}

/* TODO , scrolling shi*/

.header-links {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  margin: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: black;
  border: 1px solid grey;
  z-index: 99;
  transition: 0.3;
}

.header-links.scrolling {
  transition: 0.3;
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  opacity: 0.7;
  border-bottom: 3px solid transparent;
  margin: 0.5rem;
  transition: margin 0.3s ease-in-out; /* Add transition for margin change */
  transition: 0.3;
}

.link:hover {
  text-decoration: underline;
  transition: 0.6s;
  opacity: 1;
  color: inherit;
  color: white;
}
