.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}

/* TODO , scrolling shi*/
.header-links.scrolling {
  width: 20rem; /* Adjust the width to your desired size when scrolling */
}

/* TODO shadow color*/
.header-links {
  box-shadow: 0 0 10px 5px var(--shadow-color);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.8);

  border: 1px solid grey;
  z-index: 99; /* ??? */
  width: 40rem;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-around;
  white-space: nowrap; /* Prevent text from wrapping */
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  transition: 0.6s;
  opacity: 0.7;
}

.link.scrolling {
  transition: ease 0.3s;
}

.link:hover {
  transition: 0.6s;
  opacity: 1;
  color: inherit;
  color: white;
}

@media (max-width: 800px) {
  .link {
    margin-right: 1.5rem;
  }
}
