.header-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: var(--z-modal);
}

/* TODO , scrolling shi*/
.header-links.scrolling {
  width: 20rem; /* Adjust the width to your desired size when scrolling */
}

/* TODO shadow color*/
.header-links {
  margin: var(--spacing-sm);
  padding: var(--spacing-sm);
  border-radius: var(--radius-xl);
  z-index: var(--z-modal);
  width: 40rem;
  transition: var(--transition-medium) ease;
  display: flex;
  justify-content: space-around;
  white-space: nowrap; /* Prevent text from wrapping */

  /* Mix blend (inverted color) */

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.56);
  box-shadow: var(--shadow-light);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}

.link {
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  color: #333333;
  transition: var(--transition-slow);
  opacity: 0.7;
}

.link.scrolling {
  transition: ease var(--transition-medium);
}

.link:hover {
  transition: var(--transition-slow);
  opacity: 1;
  color: inherit;
  color: var(--color-primary-text);
}

@media (max-width: 800px) {
  .link {
    margin-right: var(--spacing-sm);
  }
}
