@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: local("Cotham Sans Regular"), local("CothamSans-Regular"),
    url("/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.otf")
      format("opentype");
}

.music-container {
  font-family: "Libre Baskerville", regular;
  background-color: black;
  color: white;
}

.music-container .card-title {
  font-size: medium;
}
