.photo-container {
  font-family: "Roboto", thins;
  background-color: rgb(28, 27, 27);
  color: white;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#insta-embed {
  width: 100%;
}

#insta-embed-container {
  border-radius: 4rem;
  margin: 2rem 1rem 0 1rem;
}
