@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.photo-container {
  font-family: "Roboto", thins;
  background-color: rgb(21, 23, 24);
  color: white;
  padding-bottom: 4rem;
}

.photo-container h1 {
  color: rgb(236, 237, 238);
}

.photo-container p {
  color: rgb(155, 161, 166);
}

#insta-embed {
  width: 100%;
}

#insta-embed-container {
  margin: 2rem 2rem 0rem 2rem;
}
