.photo-container {
  font-family: "Roboto", thins;
  background-color: rgb(21, 23, 24);
  color: white;
}

.photo-container h1 {
  color: rgb(236, 237, 238);
}

.photo-container p {
  color: rgb(155, 161, 166);
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#insta-embed {
  width: 100%;
}

#insta-embed-container {
  border-radius: 4rem;
  margin: 2rem 1rem 2rem 1rem;
}
