@font-face {
  font-family: "Cotham Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Cotham Sans Regular"), local("CothamSans-Regular"),
    url("public/fonts/Cotham_Sans/CothamSans.otf") format("opentype");
}

.engineering-container {
  font-family: "Cotham Sans", regular;
  background-color: black;
  color: white;
  height: 100vh;
  align-items: center;
  align-content: center;
}

.engineering-container p {
  color: rgb(155, 161, 166);
}
