.about-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  background-color: white;
  color: black;
  flex-direction: column;
  position: relative;
  display: flex;
  padding: 2rem;
  justify-items: center;
  justify-content: center;
}

.footerLink {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: end;
}

.my-name {
  font-size: 7rem;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    #babbbd,
    #2e3257,
    #627d9a,
    #dfc5a4,
    #fffef7
  );
  background-size: 200%; /* Set background-size to cover the entire text */
  animation: gradientAnimation 3s infinite alternate;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
}

.bio {
  bottom: 0;
}
