@font-face {
  font-family: "Junicode";
  font-style: normal;
  font-weight: 400;
  src: local("Junicode Regular"), local("Junicode-Regular"),
    url("public/fonts/Junicode/Junicode.ttf") format("truetype");
}

.design-container {
  font-family: "Junicode";
  background-color: white;
  color: black;
  display: flex;
  overflow-x: scroll;
  padding: 1rem;
  height: 100vh;
}

.design-container h1 {
  font-size: 5rem;
}
