@font-face {
  font-family: "Junicode";
  font-style: normal;
  font-weight: 400;
  src: local("Junicode Regular"), local("Junicode-Regular"),
    url("/fonts/Junicode/Junicode.ttf") format("truetype");
}

/* Design Section Specific Styles */
.design-container {
  font-family: "Junicode";
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
}

.design-container h1 {
  font-size: var(--font-size-large);
}
