@font-face {
  font-family: "Junicode";
  font-style: normal;
  font-weight: 400;
  src: local("Junicode Regular"), local("Junicode-Regular"),
    url("public/fonts/Junicode/Junicode.ttf") format("truetype");
}

.design-container {
  font-family: "Junicode", regular;
  background-color: white;
  color: black;
}
