@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Righteous&family=Roboto&family=Varela+Round&display=swap");

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

link:hover {
  color: inherit;
  cursor: pointer;
}

.layout-container {
  width: 100%;
}
