@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Righteous&family=Roboto&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif, light;
  background-color: white;
  color: black;
  font-weight: 300;
  width: 100%;
  word-wrap: break-word;
}

link:hover {
  color: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

.no-list {
  list-style: none;
}

.title {
  font-size: 7rem;
}

/* TODO */
.projects-container {
  justify-content: center;
  align-content: center;
  gap: 4px;
  display: flex;
  overflow-x: scroll;
  padding: 2rem;
}

.projects-container::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome/Safari */
}

.text-container {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
  justify-content: center;
  align-content: center;
  min-width: 50rem;
}

.skills {
  text-align: left;
}

.skills li,
.skills a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(155, 161, 166);
  text-decoration: none;
  transition: 0.3s ease;
}

.skills li:hover,
.skills a:hover {
  color: white;
  transition: 0.3s ease;
}

.skills img {
  height: 1rem;
}

.skills p,
.skills a {
  font-size: 1rem;
}

/* TODO */
/* Screen width */
@media (max-width: 800px) {
  .projects-container {
    flex-direction: column;
    margin: 0;
  }

  .card-container {
    margin: 1rem;
  }

  .contactform {
    flex-direction: column;
  }
}

/* TODO: flex wrap: wrap */
