.footer-container {
  width: 100%;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  height: 10rem;
  line-height: 2.5;
  display: flex;
  bottom: 0;
}

.column {
  flex: 1;
}

.social-media-icon .social-svg-icon {
  fill: grey !important;
}

.social-media-icon:hover .social-svg-icon {
  fill: black !important;
}
